name: Hello World Workflow
on:
    push:
        paths:
            - 'scripts/session_6/helloworld.txt'

jobs:
    hello-world-job:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v3
            - name: Print the contents of the file
              run: cat scripts/session_6/helloworld.txt
